<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:fragment= "footer">
	<footer>
    <div class="container"> 
      
      <!-- ABOUT Location -->
      <div class="col-md-3">
        <div class="about-footer"> <img class="margin-bottom-30" src="images/logo-foot.png" alt="" >
          <p><i class="icon-pointer"></i> The Light, Tố Hữu, Trung Văn <br>
            Nam Từ Liêm, Hà Nội.</p>
          <p><i class="icon-call-end"></i> 0865.207.306</p>
          <p><i class="icon-envelope"></i> Khoahttt01@gmail.com</p>
        </div>
      </div>
      
      <!-- HELPFUL LINKS -->
      <div class="col-md-3">
        <h6>HỖ TRỢ</h6>
        <ul class="link">
          <li><a href="#."> Sản phẩm</a></li>
          <li><a href="#."> Tìm cửa hàng</a></li>
          <li><a href="#."> Blog</a></li>
          <li><a href="#."> Chính sách bảo vệ</a></li>
          <li><a href="#."> Hỗ trợ</a></li>
          <li><a href="#."> Góp ý </a></li>
        </ul>
      </div>
      
      <!-- SHOP -->
      <div class="col-md-3">
        <h6>CỬA HÀNG</h6>
        <ul class="link">
          <li><a href="#."> Về chúng tôi</a></li>
          <li><a href="#."> Mặt hàng kinh doanh</a></li>
          <li><a href="#."> Phương thức vận chuyển</a></li>
          <li><a href="#."> Liên hệ</a></li>
          <li><a href="#."> Hỗ trợ</a></li>
          <li><a href="#."> Danh sách cửa hàng</a></li>
        </ul>
      </div>
      
      <!-- MY ACCOUNT -->
      <div class="col-md-3">
        <h6>TÀI KHOẢN</h6>
        <ul class="link">
          <li><a href="#."> Đăng nhập</a></li>
          <li><a href="#."> Tài khoản của tôi</a></li>
          <li><a href="#."> Giỏ hàng</a></li>
          <li><a href="#."> Yêu thích</a></li>
          <li><a href="#."> Thanh toán</a></li>
        </ul>
      </div>
      
      <!-- Rights -->
      
      <div class="rights">
        <p>©  2024 KhoaDev - SAPPHIRESHOP . </p>
        <div class="scroll"> <a href="https://www.facebook.com/phananhkhoa150402" class="go-up"><i class="lnr lnr-arrow-up"></i></a> </div>
      </div>
    </div>
  </footer>
 </th:block>
</body>
</html>